#datepicker{
    background: transparent;
    border: none;
    caret-color: transparent;
}
#ui-datepicker-div{
    width: 60% !important;
    display: block !important;
    top: 200px !important;

}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: none !important;
    font-weight: normal;
    padding: 20px;
    height: 140px !important;
    color: #555555;
    text-align: center;
}